<div class="d-flex main">
    <div class="bg-info">
        <div class="logo">
            <h4 class="text-light text-center p-4">ECO</h4>
        </div>
        <div class="menu" id="sidebar-container">
            <a href="" class="d-block text-light p-3"><i class="fas fa-shopping-cart lead"></i></a>
            <a href="" class="d-block text-light p-3"><i class="far fa-edit lead"></i></a>
            <a href="" class="d-block text-light p-3"><i class="far fa-calendar-plus lead"></i></a>
            <a href="" class="d-block text-light p-3"><i class="fas fa-money-bill lead"></i></a>
            <a href="" class="d-block text-light p-3"><i class="fas fa-table lead"></i></a>
        </div>
    </div>
    <div class="container m-5">
        <div class="row">
            <div class="col-6">
                <h1>Productos <a href=""><i class="fas fa-plus-circle color"></i></a> </h1>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-10">
                        <input class="form-inline ml-auto my-3 search" type="search" placeholder="Busca tu producto">
                    </div>
                    <div class="col-2">
                        <a href=""><i class="fas fa-search my-4 text-info"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="card-columns">
                    <div class="card-container">

                        <div class="card" *ngFor="let product of products | paginate: {itemsPerPage: 4, currentPage: pageActual}">
                            <img [src]="product.url_image" onerror="this.src = '../assets/img/noimage.png'" class="card-img-top img-fluid img-container p-2 mx-auto d-block">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{product.name}}</h5>
                                <p class="card-text text-center">Código: {{product.code}}</p>
                                <p class="text-center">Lote: </p>
                                <div class="buttons">
                                    <button class="btn btn-info m-2">Editar</button>
                                    <button class="btn btn-danger m-2">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </div>
            <div class="col-4">


                <form [formGroup]="form" class="create-box">
                    <h2 class="p-12">Crear Producto</h2>
                    <div>
                        <div class="form-group">
                            <label>Código</label>
                            <input type="text" class="form-control" id="code" formControlName="code">
                        </div>

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label>Valor Unitario</label>
                            <input type="text" class="form-control" id="unit" formControlName="unit">
                        </div>
                        <div class="form-group">
                            <label>Imagen</label>
                            <input type="text" class="form-control" id="img" formControlName="img">
                        </div>

                        <div *ngFor="let tax of taxesFormArray.controls; let i = index" class="form-group form-check">
                            <label class="form-check-label" formArrayName="taxes">
                                <input type="checkbox" class="form-check-input" [formControlName]="i">
                                {{taxesOptions[i].name}}
                              </label>
                        </div>


                        <button type="submit" class="btn btn-warning btn-block" (click)="createdProduct()">Crear</button>
                    </div>

                </form>

            </div>
        </div>


    </div>
</div>