/* .main {
    margin: 0;
    padding: 0;
    background: url(../../../assets/img/bg-products.jpg) no-repeat;
    background-size: cover;
    height: 100%;
} */

.main {
    align-items: flex-end;
    background: url(../../../assets/img/bg-products.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
}

.login-box {
    background: #fff;
    padding: 5vh;
    border-radius: 10px;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}